<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Fotografias Bruna Almeida</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

  

<body>
  <div class="navbar-fixed">  
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo" > <img style="max-height: 40px;margin-top:10px"class= "responsive-img" src="static/image/logo.jpg" alt="Unsplashed background img 1"/><!--Bruna Almeida  <small>Fotografia</small>  <i class="material-icons right">camera_alt</i> --></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sobre">Sobre</a></li>
            <!--<li><a href="#">Produtos e Serviços</a></li>-->
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Portifólio</a></li>
            <li><a href="contato">Contato</a></li>
            <li></li>
          </ul>
    
          <ul id="dropdown1" class="dropdown-content">
              <li><a href="port_criancas">Fotografia Infantil</a></li>
              <li><a href="porti_casais">Casais</a></li>
              <!--<li class="divider"></li>-->
              <li><a href="port_mulheres">Ensaio feminino</a></li>
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
              <li><a href="sobre">Sobre</a></li>
              <!--<li><a href="#">Produtos e Serviços</a></li>-->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Portifólio<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="contato">Contato</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">  
      <div class="container">
        <br></br></br>
        <div class="row">
            <div class="col s12 m6 right hide-on-med-and-down">
               <h5 class="header light ">Quer ter fotos incríveis com a familia, com seu par ou ter um mega ensaio individual?</h5>    
            </div>  
        </div>
        <div class="row" >
            <div class="col 9 m6 right">
                <a href="contato" id="download-button" class="btn waves-effect waves-light brown lighten-1 hide-on-med-and-down  ">Agende o seu ensaio</a>
            </div>
         </div>
        <br><br>
      </div>
    </div>
    <div  class="parallax" >
              <img class="materialboxed responsive-img" src="static/image/home_3.jpg" alt="Unsplashed background img 1">

        </div>  
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center brown-text"><i class="material-icons">group</i></h3>
            <h6 class="center">Familias</h6>

            <p class="light">"Fotografar familias é uma de minhas paixões. Familia traz alegria e felicidade e as fotos espontaneas sao as mais belas"</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center brown-text"><i class="material-icons">wc</i></h3>
            <h6 class="center"> Casais</h6>

            <p class="light">"O Amor vence barreiras e nada mais bonito do que trazer essa intensa emoção através das fotos"</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h3 class="center brown-text"><i class="material-icons">face</i></h3>
            <h6 class="center"> Mulheres</h6>

            <p class="light">Nós mulheres precisamos nos sentir bem com nós mesmas. Uma bela foto faz toda a diferença em nossas vidas.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!--<h5 class="header col s12 light">Descubra o seu lado mais belo./h5>-->
        </div>
      </div>
    </div>
    <div class="parallax col s6"><img class ="responsive-img" src="static/image/home_2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 l12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5> Fotografia Infantil</h5>
          <p class="left-align light">As crianças não podem ficar de fora!! Por isso temos um serviço especializado para lidar com os baixinhos. Fazemos tudo com ritmo de brincadeira e eles nem percebem que estão em um ensaio. Veja mais!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="section">
          <div class="row">
                <div class="col s6 l4 ">
                    <div class="card " >
                          <div class="card-image">
                            <img src="static/image/home_crianca_3.jpg "class="materialboxed" >
                          </div>
                          
                    </div> 
                </div>
                <div class="col s6 l8 ">
                    <p class="left-align light">Fotos espontaneas faz parte de uma característica forte no nosso trabalho. Gostamos de transmitir o sentimento real da pessoa de maneira que ela resgate esses sentimentos quando ver a foto.</p>
                </div>

            </div>
            <div class="row">
                <div class="col s6 l8 ">
                    <p class="left-align light">Diga X =D Não podems deixar de lado as tradicionalíssimas fotos com um belo sorriso. Sendo adulto ou criança, sozinho ou junto da familia. Os sorrisos trazem um sentimento de felicidade que contigia que o observa. Já deram o sorriso do hoje?  </p>
                </div>
              <div class="col s6 l4">
                  <div class="card " >
                        <div class="card-image">
                          <img src="static/image/home_crianca_2.jpg" class="materialboxed" width="650">
                        </div>
                        
                  </div> 
              </div>
            </div>
       
        
           
         <!--
              <div class="card-image col s4 m4 z-depth-1">
                        <img class="responsive-img" src="static/image/home_crianca_2.jpg">
              </div>
      
              <div class="card-image col s4 m4 z-depth-1 ">
                  <img class="responsive-img" src="static/image/home_crianca_3.jpg">
              </div>
            -->
       
    </div>
  </div>

    <footer class="page-footer brown  lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h6 class="white-text">Bruna Almeida Fototografia</h6>
          <p class="grey-text text-lighten-4 responsive ">Fotógrafa de pessoas especializada em familias, ensaios de mulheres , crianças e casais. Fotos claras e que passam a emoção do momento.</p>
        </div>
        <div class="col l3 s12">
  
          <ul>
            <li><a class="white-text" href="sobre">Sobre</a></li>
            <!--<li><a class="white-text" href="#!">Produtos e Serviços</a></li>-->
            <li><a class="white-text dropdown-trigger" href="#!" data-target="dropdown1">Portifólio</a></li>
            <li><a class="white-text" href="contato">Contato</a></li>
          </ul>
        </div>
        <div class="col l4 s12">
          <h6 class="white-text">Contato</h6>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/brunaalmeidafotos">Facebook</a></li>
            <li><a class="white-text" href="https://www.instagram.com/brunaalmeidafotos">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       Todos os direits são exclusivos e reservados à Bruna Almeida Fotografia LTDA
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>

    <script>
      $(document).ready(function(){
        $('.materialboxed').materialbox();
        $(".dropdown-trigger").dropdown();
      });
          
    </script>
  </body>
</html>
