<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Fotografias Bruna Almeida</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
<!-- material design-->

 <link href="{{ url_for('static', filename='css/material-components-web.css') }}" type="text/css" rel="stylesheet"/>

</head>
<body>
  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo" style="font-family: cursive; font-size: 1.8rem"> Bruna Almeida <small>Fotografia</small> <i class="material-icons">camera_alt</i> </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Produtos e Serviços</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Portifólio<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">Contato</a></li>
      </ul>

      <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Crianças</a></li>
          <li><a href="#!">Casais</a></li>
          <!--<li class="divider"></li>-->
          <li><a href="#!">Mulheres</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Produtos e Serviços</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Portifólio<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="#">Contato</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>
<!-- inicio body-->
<div class="container">
        <div class="section">
        
        </div>
</div>  
<div class="container">
        <div class="section">
                
                <ul class="mdc-image-list mdc-image-list--masonry ">
                     
                        <li class="mdc-image-list__item">
                           <img class="mdc-image-list__image materialboxed" src="/static/image/home.jpg" alt="Text label">
                           <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                        </li>
                        <li class="mdc-image-list__item">
                            <img class="mdc-image-list__image materialboxed" src="/static/image/home_2.jpg" alt="Text label">
                            <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                         </li>
                         <li class="mdc-image-list__item">
                            <img class="mdc-image-list__image materialboxed" src="/static/image/home_3.jpg" alt="Text label">
                            <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                         </li>
                         <li class="mdc-image-list__item">
                            <img class="mdc-image-list__image materialboxed" src="/static/image/home_crianca.jpg" alt="Text label">
                            <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                         </li>
                         <li class="mdc-image-list__item">
                            <img class="mdc-image-list__image materialboxed" src="/static/image/home_crianca_2.jpg" alt="Text label">
                            <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                         </li>
                         <li class="mdc-image-list__item">
                            <img class="mdc-image-list__image materialboxed" src="/static/image/home_crianca_3.jpg" alt="Text label">
                            <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                         </li>
                         <li class="mdc-image-list__item">
                            <img class="mdc-image-list__image materialboxed" src="/static/image/home.jpg" alt="Text label">
                            <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                         </li>
                         <li class="mdc-image-list__item">
                            <img class="mdc-image-list__image materialboxed" src="/static/image/home.jpg" alt="Text label">
                            <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
                         </li>
                </ul>
        </div>
</div>  
<!-- FIM BODY -->
<footer class="page-footer brown  lighten-1">
    <div class="container">
        <div class="row">
        <div class="col l5 s12">
            <h5 class="white-text">Bruna Almeida Fototografia</h5>
            <p class="grey-text text-lighten-4 responsive ">Fotógrafa de pessoas especializada em familias, ensaios de mulheres , crianças e casais. Fotos claras e que passam a emoção do momento.</p>
        </div>
        <div class="col l3 s12">
    
            <ul>
            <li><a class="white-text" href="#!">Sobre</a></li>
            <li><a class="white-text" href="#!">Produtos e Serviços</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Portifólio<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="white-text" href="#!">Contato</a></li>
            </ul>
        </div>
        <div class="col l4 s12">
            <h5 class="white-text">Contato</h5>
            <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">WhatsApp</a></li>
            <li><a class="white-text" href="#!">E-mail</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        Todos os direits são exclusivos e reservados à Bruna Almeida Fotografia LTDA
        </div>
    </div>
    </footer>

    <!--  Scripts-->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>


    <!--mterial design-->

    <script src="{{ url_for('static', filename='js/material-components-web.min.js') }}"></script>

   <script>
     $(document).ready(function(){
       $('.materialboxed').materialbox();
       $(".dropdown-trigger").dropdown();
       $('.slider').slider();

      
        });
            
    </script>
    </body>
</html>
        